{% extends "base.html" %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Account Details</h5>
                    <div class="d-flex align-items-center mb-2">
                        <div class="col-2">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="col-10">
                            <p class="card-text mb-0">
                                <strong
                                    >{{ user.first_name }} {{ user.last_name
                                    }}</strong
                                >
                            </p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <div class="col-2">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="col-10">
                            <p class="card-text mb-0">{{ user.email }}</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <div class="col-2">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="col-10">
                            <p class="card-text mb-0">
                                {{ user.address }}, {{ user.city }}, {{
                                user.state }}, {{ user.zip_code }}
                            </p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <div class="col-2">
                            <i class="fa fa-globe"></i>
                        </div>
                        <div class="col-10">
                            <p class="card-text mb-0">{{ user.country }}</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <div class="col-2">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="col-10">
                            <p class="card-text mb-0">{{ user.phone }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">My Orders</h5>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Order ID</th>
                                <th scope="col">Total</th>
                                <th scope="col">Date</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr>
                                <th scope="row">{{ order.id }}</th>
                                <td>${{ order.total_price }}</td>
                                <td>{{ order.created_at }}</td>
                                <td>
                                    <a href="/order/{{order.id}}">View Order</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
