<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
            crossorigin="anonymous" />
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,600;0,700;0,800;1,600;1,700&display=swap"
            rel="stylesheet" />
        <link
            rel="stylesheet"
            type="text/css"
            href="{{url_for('static', filename='css/style.css')}}" />

        <script
            defer
            src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script
            defer
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz4fnFO9gybBud7N61aR4tN4i9Rug3uG4KjTzTzarDwFTo/1j2g2ELf7g6"
            crossorigin="anonymous"></script>
        <script
            defer
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
            integrity="sha384-cn7l7g78p5ny2BY4wpUJ1f8jD4uV4S4p4U4lr7v4x3eorqKKd4R8f2W3TfTqD+sw"
            crossorigin="anonymous"></script>
        <script
            defer
            type="text/javascript"
            src="{{url_for('static', filename='js/script.js')}}"></script>
        <title>Home</title>
    </head>

    <body>
        <nav
            class="navbar navbar-expand-sm d-flex justify-content-between w-100 position-fixed z-2 bg-darker-custom rounded-bottom-4 shadow-sm">
            <a class="navbar-brand mx-5 fs-3 button-hover">GroovyGear</a>
            <ul
                class="navbar-nav mr-auto mt-2 mt-lg-0 mx-5 d-flex gap-4 align-items-center">
                <li class="nav-item active">
                    <a href="/" type="button" class="btn button-hover">
                        <i class="fa fa-home fa-2x" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a type="button" class="btn button-hover" href="/checkout">
                        <i
                            class="fa fa-shopping-cart fa-2x"
                            aria-hidden="true"></i>
                        <!-- number of items in cart -->
                        <span class="badge bg-danger rounded-pill">
                            {{session['shopping_cart']}}
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a type="button" class="btn button-hover" href="/account">
                        <i
                            class="fa fa-user-circle fa-2x"
                            aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <!-- check if user is logged in -->

                    {%if "user_id" not in session %}

                    <a href="/login" class="btn button-hover">
                        <i class="fa fa-sign-in fa-2x" aria-hidden="true"></i>
                    </a>
                    {% else %}
                    <a href="/logout" class="btn button-hover">
                        <i class="fa fa-sign-out fa-2x" aria-hidden="true"></i>
                    </a>
                    {% endif %}
                </li>
            </ul>
        </nav>

        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %}
        <div
            class="position-fixed top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center alert-container">
            <div class="card alert-dismissible fade show alert-card">
                <div class="card-body">
                    {% for category, message in messages %}
                    <div
                        class="alert alert-{{ category }} d-inline-block me-2 mb-1"
                        role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                    <button
                        type="button"
                        class="btn-close button-hover"
                        aria-label="Close"></button>
                </div>
            </div>
        </div>
        {% endif %} {% endwith %} {% block content %}{% endblock %}
    </body>
</html>
