{% extends "base.html" %}

{% block content %}

<div class="d-flex align-items-center">
    <button class="btn fit-content mx-5 hover" onclick="plusSlides(-1)">
        <i class="fa fa-arrow-circle-left fa-3x" aria-hidden="true"></i>
    </button>

    <div class="slideshow-container d-flex justify-content-center align-items-center flex-grow-1">

        {%for product in data%}
        {%if product.id == 16 or product.id == 17 or product.id == 18 or product.id == 19%}
        <div class="hover rounded-2 clickable shadow-lg container slide-element hide-element slide-out-element">

            <div class="d-flex align-items-center justify-content-center ">
                <div>
                    <h2>{{product.title}}</h2>
                    </h2>
                    <p>{{product.description}}</p>
                    <p>${{product.price}}</p>
                    <form action="/add_to_cart" method="post">
                        <input type="hidden" name="product_id" value="{{product.id}}">
                        <input type="hidden" name="product_price" value="{{product.price}}">
                        <input type="hidden" name="product_quantity" value="1">
                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                    </form>
                </div>
                <img src="{{ product.image }}"
                    class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|} w-33  m-auto "
                    alt="">
            </div>

        </div>
        {%endif%}
        {%endfor%}
    </div>
    <button class="btn fit-content  mx-5 hover" onclick="plusSlides(1)">
        <i class="fa fa-arrow-circle-right fa-3x" aria-hidden="true"></i>
    </button>
</div>

<div class="d-flex flex-column gap-5">
    <div>
        <h2 class="mx-5">FEATURED PRODUCTS</h2>
        <div class="d-flex justify-content-around flex-wrap mt-5">
            {%for product in data%}
            {%if product.id == 21 or product.id == 22 or product.id == 23%}
            <div class="hover rounded-2 clickable d-flex flex-column gap-3 w-25 p-4  shadow-lg">
                <img src="{{product.image}}" class="img-fluid w-50 m-auto" alt="">
                <div class="d-flex flex-column align-items-start">
                    <h3 class="fs-6">{{product.title}}</h3>
                    <form action="/add_to_cart" method="post">
                        {%if "user_id" in session%}
                        <input type="hidden" name="user_id" value="{{session['user_id']}}">
                        {%endif%}
                        <input type="hidden" name="product_id" value="{{product.id}}">
                        <input type="hidden" name="product_price" value="{{product.price}}">
                        <input type="hidden" name="product_quantity" value="1">
                        <button type="submit" class="btn btn-primary">Add to cart<i class="fa fa-star"
                                aria-hidden="true"></i></button>
                    </form>
                    <p>${{product.price}}</p>
                </div>
            </div>
            {%endif%}
            {%endfor%}



        </div>
    </div>

    <div class="mt-5">
        <h2 class="mx-5 fit-content border-bottom border-4 border-info">EXCLUSIVE OFFERS</h2>

        <div class="d-flex align-items-center justify-content-around mt-5">

            <!-- TODO project two exclusive offers -->
            {%for product in data%}
            {%if product.id == 28 or product.id == 30%}
            <div class="hover rounded-2 clickable shadow-lg d-flex justify-content-between p-4 ">
                <div class="d-flex flex-column align-items-start">
                    <h3 class="fs-6">{{product.title}}</h3>
                    <form action="/add_to_cart" method="post">
                        {%if "user_id" in session%}
                        <input type="hidden" name="user_id" value="{{session['user_id']}}">
                        {%endif%}
                        <input type="hidden" name="product_id" value="{{product.id}}">
                        <input type="hidden" name="product_price" value="{{product.price}}">
                        <input type="hidden" name="product_quantity" value="1">
                        <button type="submit" class="btn btn-primary">Add to cart<i class="fa fa-star"
                                aria-hidden="true"></i></button>
                    </form>
                    <p>${{product.price}}</p>
                </div>
                <img src="{{ product.image }}"
                    class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|} exclusive"
                    alt="">

            </div>
            {%endif%}
            {%endfor%}


        </div>
    </div>

    <div class="mt-5">
        <h2 class="mx-5">ALL PRODUCTS</h2>
        <div class="d-flex justify-content-around flex-wrap mt-5 row-gap-5">
            <!-- TODO make it loop and project each product -->

            {% for product in data %}
            {% if product.id > 9 %}
            <div class="hover rounded-2 clickable shadow-lg d-flex flex-column m-1 product p-4"
                onclick="document.location='#'">
                <img src="{{product.image}}"
                    class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|} w-50 m-auto"
                    alt="">

                <div class="d-flex flex-column align-items-start">
                    <h3 class="fs-6">{{product.title}}</h3>
                    <form action="/add_to_cart" method="post">
                        {%if "user_id" in session%}
                        <input type="hidden" name="user_id" value="{{session['user_id']}}">
                        {%endif%}
                        <input type="hidden" name="product_id" value="{{product.id}}">
                        <input type="hidden" name="product_price" value="{{product.price}}">
                        <input type="hidden" name="product_quantity" value="1">
                        <button type="submit" class="btn btn-primary">Add to cart<i class="fa fa-star"
                                aria-hidden="true"></i></button>
                    </form>
                    <p>${{product.price}}</p>
                </div>
            </div>

            {% endif %}
            {% endfor %}


        </div>
    </div>
</div>

<footer
    class="border-top border-1 border-dark-subtle mt-5 d-flex justify-content-center align-items-center flex-column">
    <p class="mt-2">Copyright © 2022 All Rights Reserved.</p>
    <p class="md-2">Published & Developed by Zachary Callahan.</p>
</footer>
{% endblock %}