@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
    background-image: url(../public/loginregBG.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bg-cover-1 {
    background-image: url(../public/beach-work-1.jpg);
    background-position-y: 80%;
}
.bg-cover-2 {
    background-image: url(../public/beach-work-2.jpg);
    background-position-y: 75%;
}
.bg-cover-3 {
    background-image: url(../public/beach-work-3.jpg);
    background-position-y: 80%;
}

.table-row:nth-child(odd) {
    @apply bg-gray-100;
}

.selected-size {
    @apply border-groovy-red;
}
.hamburger-button {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.hamburger span:nth-child(1) {
    transform: translateY(0) rotate(0);
}

.hamburger span:nth-child(3) {
    transform: translateY(0) rotate(0);
}

.hamburger.open span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.width-enter {
    width: 83.2px;
}

.width-enter-active {
    width: 100%;
    transition: width 300ms ease-in-out;
}

.width-exit {
    width: 100%;
}

.width-exit-active {
    width: 83.2px;
    transition: width 300ms ease-in-out;
}

.reset-enter {
    opacity: 0;
}

.reset-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
}

.reset-exit {
    opacity: 1;
}

.reset-exit-active {
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.height-enter {
    opacity: 0;
    height: 0;
    padding: 0;
}

.height-enter-active {
    opacity: 1;
    height: 230px;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    transition: height 300ms ease-in-out, padding 300ms ease-in-out,
        opacity 500ms ease-in-out;
}

.height-exit {
    opacity: 1;
    height: 230px;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.height-exit-active {
    opacity: 0;
    height: 0;
    padding: 0;
    transition: height 300ms ease-in-out, padding 300ms ease-in-out,
        opacity 150ms ease-in-out;
}
