@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideIn {
    0% {
        transform: scale(0.25);
        opacity: 0;
        -webkit-transform: scale(0.25);
        -moz-transform: scale(0.25);
        -ms-transform: scale(0.25);
        -o-transform: scale(0.25);
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slideOut {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    99% {
        opacity: 0;
    }

    100% {
        transform: scale(0.25);
        opacity: 0;
        -webkit-transform: scale(0.25);
        -moz-transform: scale(0.25);
        -ms-transform: scale(0.25);
        -o-transform: scale(0.25);
    }
}

* {
    font-family: "Rubik", sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.247);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.521);
}

.bg-image {
    background-image: url(../img/uuunion.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bg-cover-1 {
    background-image: url(../img/beach-work-1.jpg);
}
.bg-cover-2 {
    background-image: url(../img/beach-work-2.jpg);
    transform: rotateY(180deg)
}
.bg-cover-3 {
    background-image: url(../img/beach-work-3.jpg);
}
.bg-fix {
    transform: rotateY(180deg)
}

.table-row:nth-child(odd) {
    @apply bg-gray-100;
}

.selected-size {
    @apply border-groovy-red;
}
