{% extends "account.html" %}
{% block account_content %}
<div class="space-y-2">
    <h1 class="text-3xl">Order History</h1>
    <p>Shows all of your orders that you've place.</p>
</div>
<hr>
<table class="">
    <thead class="border-b-2">
        <tr class="">
            <th class=" py-4">Order Number</th>
            <th class=" py-4">Total</th>
            <th class=" py-4">Date Ordepurple</th>
            <th class=" py-4">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr class="text-center border-b-2 table-row hover:bg-gray-200">
            <td class=" py-4">{{order.id}}</td>
            <td class=" py-4">${{order.total_price}}</td>
            <td class=" py-4">{{order.created_at}}</td>
            <td class=" py-4">
                <a href="/order/{{order.id}}" class="text-groovy-purple">View Order</a>
                |
                <a href="/reorder/{{order.id}}" class="text-groovy-purple">Order Again</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}