{% extends "base.html" %} {% block content %}
<main class="bg-gray-100 ">
    <div class="container m-auto flex py-4 gap-5 shrink-0">
        <ul class="flex grow flex-col gap-5 bg-white rounded-md shadow-md active pt-5">
            <!-- TODO change this when I mess with the routing in Flask -->
            {% if request.path == '/account' %}
            <li
                class="bg-groovy-red bg-opacity-25 border-l-4 border-groovy-red border-opacity-100 rounded-md w-full py-1 transition-all">
                <a href="/account" class="text-2xl block">
                    <i class="fa fa-user text-2xl ml-5 mr-3"></i>
                    Account</a>
            </li>
            {% else %}
            <li
                class="hover:bg-groovy-red hover:bg-opacity-25 hover:border-opacity-100 hover:border-groovy-red border-l-4 border-opacity-0 border-white hover:rounded-md hover:w-full py-1 transition-all">
                <a href="/account" class="text-2xl block">
                    <i class="fa fa-user text-2xl ml-5 mr-3"></i>
                    Account</a>
            </li>
            {% endif %}


            {% if request.path == '/account/orders' %}
            <li
                class="bg-groovy-red bg-opacity-25 border-l-4 border-groovy-red border-opacity-100 rounded-md w-full py-1 transition-all">
                <a href="/account/orders" class="text-2xl block">
                    <i class="fa fa-bookmark text-2xl ml-5 mr-3"></i>
                    My Orders</a>
            </li>
            {% else %}
            <li
                class="hover:bg-groovy-red hover:bg-opacity-25 hover:border-opacity-100 hover:border-groovy-red border-l-4 border-opacity-0 border-white hover:rounded-md hover:w-full py-1 transition-all">
                <a href="/account/orders" class="text-2xl block">
                    <i class="fa fa-bookmark text-2xl ml-5 mr-3"></i>
                    My Orders</a>
            </li>
            {% endif %}


            {% if request.path == '/account/password' %}
            <li
                class="bg-groovy-red bg-opacity-25 border-l-4 border-groovy-red border-opacity-100 rounded-md w-full py-1 transition-all">
                <a href="/account/password" class="text-2xl block">
                    <i class="fa fa-lock text-2xl ml-5 mr-3"></i>
                    Password</a>
            </li>
            {% else %}
            <li
                class="hover:bg-groovy-red hover:bg-opacity-25 hover:border-opacity-100 hover:border-groovy-red border-l-4 border-opacity-0 border-white hover:rounded-md hover:w-full py-1 transition-all">
                <a href="/account/password" class="text-2xl block">
                    <i class="fa fa-lock text-2xl ml-5 mr-3"></i>
                    Password</a>
            </li>
            {% endif %}
        </ul>
        <div class="flex grow-[3] flex-col bg-white p-5 rounded-md shadow-md gap-5">
            {%block account_content%}


            {%endblock%}
        </div>
    </div>
</main>
{% endblock %}