{% extends "base.html" %} {% block content %}
<section class="bg-gray-100  space-y-32 pb-32">
    <div class="bg-white p-4 container m-auto rounded-md shadow-md">
        <div>
            <h2>Order Confirmation</h2>
            <p>Thank you for your order! Your order has been successfully placed and is being processed.</p>
        </div>
        <div>
            <h2>Shipping Information</h2>
            <p>{{ user.address }}</p>
            <p>{{ user.city }}, {{ user.state }} {{ user.zip }}</p>
            <p>{{ user.country }}</p>

        </div>
        <div>
            
        </div>
    </div>
</section>
{% endblock %}