{% extends "base.html" %} {% block content %}

<div class="bg-white space-y-32 mb-32">
    <div class="bg-cover bg-no-repeat bg-center h-[640px]">
        <div class="relative top-[40%] left-0 w-3/12 bg-black bg-opacity-75 p-4 rounded-r-md">
            <h1 class="text-white text-5xl mb-7 leading-snug">New women's fashion wear</h1>
            <a href="/shop/mens" class="text-groovy-red font-semi text-xl">SHOP NOW</a>
        </div>
    </div>
    <div class="container m-auto">
        <!-- * SHOPPING DETAILS -->
        <div class="flex justify-center">
            <div class="text-center w-1/3 space-y-3">
                <i class="fa fa-truck text-7xl text-groovy-red"></i>
                <h2 class="text-2xl">Two-hour delivery</h2>
                <p>Order before 2pm and get your items delivered within 2 hours.</p>
            </div>
            <div class="text-center w-1/3 space-y-3">
                <i class="fa fa-credit-card text-7xl text-groovy-red"></i>
                <h2 class="text-2xl">Secure payment</h2>
                <p>Pay with the world's most popular and secure payment methods.</p>
                <div class="space-x-3">
                    <i class="fa fa-cc-mastercard text-3xl text-gray-700"></i>
                    <i class="fa fa-cc-visa text-3xl text-gray-700"></i>
                    <i class="fa fa-cc-paypal text-3xl text-gray-700"></i>
                    <i class="fa fa-cc-stripe text-3xl text-gray-700"></i>
                </div>
            </div>
            <div class="text-center w-1/3 space-y-3">
                <i class="fa fa-gift text-7xl text-groovy-red"></i>
                <h2 class="text-2xl">Free shipping</h2>
                <p>Free shipping on all US order or order above $50.</p>
            </div>
        </div>


    </div>
    <!-- * PRODUCT SECTION ONE -->
    <div class="container m-auto">
        <h2 class="text-4xl font-bold mb-14 text-center">New Arrivals</h2>
        <div class="grid grid-cols-3 gap-5">
            {% for product in data %}
            {% if product.id == 71 or product.id == 72 or product.id == 73%}
            <div class="p-4 flex justify-between flex-col h-full bg-gray-100 shadow-md rounded-md gap-5">
                <a href="/product/{{product.id}}">
                    <img src="{{ product.image }}" alt="" class="w-full h-[300px] object-cover rounded-t-lg">
                </a>
                <h3 class="text-xl">{{ product.title }}</h3>
                <div class="flex justify-between items-center">
                    <p class="font-bold text-xl">${{ product.price }}</p>
                    <a href="/shop/{{ product.category }}/{{ product.id }}"
                        class="p-2 bg-groovy-red rounded-md shadow-md w-fit font-bold  text-white text-center">Add
                        to Cart</a>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <!-- * MAIN PRODUCT -->
    <div class="bg-gray-100 space-y-14 py-5">
        <div class="container m-auto flex justify-between items-center">
            <div class="w-1/2">
                <h2 class="text-2xl font-bold">ONE OF A KIND ROLEX</h2>
                <h2 class="text-5xl font-bold leading-snug mb-7 mt-4">Always telling the time when you need it too</h2>
                <p class="text-xl">Oculus Go is our all-in-one VR headset that’s portable and easy to use. Experience
                    entertainment on the go with no PC,
                    wires or hassles.</p>
            </div>
            <img src="{{url_for('static', filename='img/watch-2.png')}}" alt="" class="w-1/3 h-full">
        </div>
        <div class="container m-auto flex justify-between items-center">

            <img src="{{url_for('static', filename='img/watch-1.png')}}" alt="" class="w-1/3 h-full">
            <div class="w-1/2">
                <h2 class="text-2xl font-bold">ONE OF A KIND ROLEX</h2>
                <h2 class="text-5xl font-bold leading-snug mb-7 mt-4">Always telling the time when you need it too</h2>
                <p class="text-xl">Oculus Go is our all-in-one VR headset that’s portable and easy to use. Experience
                    entertainment on the go with no PC,
                    wires or hassles.</p>
            </div>
        </div>
    </div>

    <!-- * PRODUCT SECTION TWO -->
    <div class="container m-auto space-y-32">
        <div>
            <h2 class="text-4xl font-bold mb-14 text-center">Best Sellers</h2>
            <div class="grid grid-cols-4 gap-5">
                {% for product in data %}
                {% if product.id == 66 or product.id == 67 or product.id == 68 or product.id == 69 or product.id == 70
                or product.id == 71 or product.id == 72 or product.id == 73%}
                <div class="p-4 flex justify-between flex-col h-full bg-gray-100 shadow-md rounded-md gap-5">
                    <a href="/product/{{product.id}}">
                        <img src="{{ product.image }}" alt="" class="w-full h-[300px] object-cover rounded-t-lg">
                    </a>
                    <h3 class="text-xl">{{ product.title }}</h3>
                    <div class="flex justify-between items-center">
                        <p class="font-bold text-xl">${{ product.price }}</p>
                        <a href="/shop/{{ product.category }}/{{ product.id }}"
                            class="p-2 bg-groovy-red rounded-md shadow-md w-fit font-bold  text-white text-center">Add
                            to Cart</a>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- * CONTACT -->
    <div class="container m-auto flex gap-5">
        <div class="bg-gray-100 shadow-md rounded-md p-4 space-y-5 grow-[2]">
            <div class="space-y-2">
                <h1 class="text-2xl font-bold">Have a question? Shoot us a message.</h1>
                <p>We are here 24/7 to support you.</p>
            </div>
            <form action="">
                <div class="flex flex-col mb-5">
                    <label for="name">Full Name:</label>
                    <input type="email" name="name" id="name" placeholder="John Doe"
                        class="mt-2 text-slate-900 bg-white rounded-md px-3 h-10 shadow-md focus:outline-none focus:ring-2 focus:ring-groovy-red ring-1 ring-slate-200"
                        required>
                </div>
                <div class="flex flex-col mb-5">
                    <label for="email">Email address:</label>
                    <input type="email" name="email" id="email" placeholder="johndoe@gmail.com"
                        class="mt-2 text-slate-900 bg-white rounded-md px-3 h-10 shadow-md focus:outline-none focus:ring-2 focus:ring-groovy-red ring-1 ring-slate-200"
                        required>
                </div>
                <div class="flex flex-col mb-5">
                    <label for="subject">Subject:</label>
                    <select name="subject" id="subject"
                        class="mt-2 text-slate-900 bg-white rounded-md px-3 h-10 shadow-md focus:outline-none focus:ring-2 focus:ring-groovy-red ring-1 ring-slate-200">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                <div class="flex flex-col mb-5">
                    <label for="message">Message:</label>
                    <textarea name="message" id="message" cols="30" rows="10"
                        class="mt-2 text-slate-900 bg-white rounded-md px-3 h-20 shadow-md focus:outline-none focus:ring-2 focus:ring-groovy-red ring-1 ring-slate-200"></textarea>
                </div>
                <button type="submit"
                    class="p-2 bg-groovy-red rounded-md shadow-md w-fit font-bold  text-white text-center">Send
                    Message</button>

            </form>
        </div>
        <div class="bg-gray-100 rounded-md shadow-md p-4 space-y-5 grow h-fit">
            <div class="flex items-center gap-3">
                <i class="fa fa-location-arrow text-2xl w-8"></i>
                <p>Returns/Exchange, 124 Main St Los Angeles, CA 12345, USA</p>
            </div>
            <div class="flex items-center gap-3">
                <i class="fa fa-envelope text-2xl w-8"></i>
                <p>example@company.com</p>
            </div>
            <div class="flex items-center gap-3">
                <i class="fa fa-phone text-2xl w-8"></i>
                <p>123-456-7890</p>
            </div>


            <div class="space-y-2">
                <h1 class="text-2xl font-bold">Contact Us</h1>
                <p>We are will have your back 24/7. Don't worry!</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}