{% extends "base.html" %} {% block content %}
<section class="bg-gray-100  space-y-32 pb-32">
    <div class="bg-white p-4 container m-auto rounded-md shadow-md space-y-5">
        <h2 class="border-b-2 pb-4 font-bold text-2xl">Order Details</h2>
        <p>Order Number: {{order_id}}</p>
        <p>Order Date: {{ order.created_at}}</p>
        <table class="w-full">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for item in orders %}
                <tr class="text-center border-b-2 table-row hover:bg-gray-200 ">
                    <td class="">
                        <div class="flex justify-center items-center">
                            <img src="{{ item.image }}" alt="{{ item.title }}" class="w-1/2">
                        </div>
                    </td>
                    <td class="font-bold pr-5">{{ item.title }}</td>
                    <td class="pr-5">{{ item.description }}</td>
                    <td class="pr-5">{{ item.quantity }}</td>
                    <td class="pr-5">${{ item.price }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="flex justify-between items-center">
            <p><span class="font-bold">Total Price:</span> ${{ order.total_price }}</p>
            <a href="/reorder/{{order_id}}"
                class="p-2 bg-groovy-red rounded-md w-fit shadow-md text-bold text-white">Order Again</a>
        </div>

    </div>
</section>
{% endblock %}